
.alert-success {
    /* color: #021569;
    background-color: #d4edda;
    border-color: #c3e6cb; */
    z-index: 9999;
    
    
}

.alert-danger {
    /* color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb; */
    z-index: 999;
}

.btn-gradient-primary {
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    color: #fff;
    border: none;
}

.bg-gradient-primary {
    background: linear-gradient(45deg, #0d47a1, #1976d2);
}

.bg-gradient-info {
    background: linear-gradient(45deg, #0288d1, #03a9f4);
}

.bg-gradient-warning {
    background: linear-gradient(45deg, #f9a825, #ffb300);
}

.bg-gradient-secondary {
    background: linear-gradient(45deg, #424242, #616161);
}

.rounded-4 {
    border-radius: 1rem !important;
}

.thumbnail-img.border-primary {
    border-width: 2px !important;
}

.thumbnail-img {
    cursor: pointer;
    width: 70px;
    height: 70px;
    object-fit: cover;
    transition: border-color 0.3s ease;
}

.thumbnail-img:hover {
    border-color: #0d6efd !important;
    /* warna biru bootstrap saat hover */
}

.carousel-indicators button:hover {
    border-color: #0d6efd !important;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.thumbnail-product.selected {
    border: 3px solid #0d6efd !important;
    /* warna biru bootstrap */
    padding: 1px;
}

.thumbnail-product {
    transition: border-color 0.3s ease;
}

.thumbnail-product:hover {
    border-color: #0d6efd;
}

.single-product:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.single-product:hover img {
    transform: scale(1.05);
}

